{% extends 'dashboard.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="alert alert-dark" style="text-align: center; font-size: 30px; letter-spacing: 0.3rem; margin: 0 0 0 3rem;">TICKET INVOICE</div>
            <div class="row" style="margin-left: 5rem;">  
                
                     
                <div class="col-md-12" style="padding-top: 5rem;"> 
                    <table class="table table-bordered">
                        
                            <tr>
                                <th>Bus Id</th>
                                <th>Bus Name</th>
                                <th>From</th>
                                <th>To</th>
                                <th>No. of Seat(s)</th>
                                <th>Ticket Amount</th>
                                <th>Date</th>
                                <th>Time</th>
                                
                            </tr>
                            
                            <tr>
                                <td>{{dataCheck.id}}</td>
                                <td>{{dataCheck.bus_name}}</td>
                                <td>{{dataCheck.source}}</td>
                                <td>{{dataCheck.destination}}</td>
                                <td>{{seats}}</td>
                                <td>{{payable}}</td>
                                <td>{{dataCheck.date}}</td>
                                <td>{{dataCheck.time}}</td>
                            </tr>
                            
                        
                        
                    </table>

                </div></div></div>

    {% endblock %}